---
permalink: contact/index.html
---

{% extends "layouts/base.njk" %}

{% set activeSection = "contact" %}

{% set metaTitle = "Contact Vikas Srivastava" %}
{% set metaDescription = "The Math Doctor" %}
{% set metaImage = site.url ~ "/img/me-600.jpg" %}

{% block content %}
<main>

  <div class="c-pagecontent  c-pagecontent--dark  u-padding-top-none">
    <div class="l-container  l-contact">

      <div class="l-contact__media">
        <img src="/img/me-600.jpg"
             srcset="/img/me-600.jpg 600w,
                     /img/me-1024.jpg 1024w"
             sizes="(min-width: 1140pw) 320px
                    (min-width: 750pw) 33vw,
                    100vw"
             class="o-fluidimage"
             alt="Jérôme Coupé">
      </div>
      <div class="l-contact__content">

        <p class="c-suptitle">Getting to know me</p>
        <h1 class="c-h1  c-h1--invert">Meet the doctor</h1>

        <div class="c-txtintro">
          <p>Hello, I am Vikas Srivastava. I give personalized one-to-one online coaching to students who are prepairing for IIT-JEE and CBSE Board examinations. </p>
        </div>

        <p>I have Masters in Mathematics(MS) from Indian Institute of Science Education and Research(IISER). I have more than 5 years experience of teaching mathematics at various levels. Language would not be a problem as I teach in both Hindi and English. </p>
       
        <p>Contact me for free demo classes and decide yourself.</p>

        <h2 class="c-h4  c-h4--invert">Complete Resume</h2>
        <p>I Please find my complete resume here: <a href="https://www.dropbox.com/s/hhx4vk22blyutx3/CV_Vikas_Srivastava.pdf?dl=0">Link to Resume</a> </p>

        <h2 class="c-h4  c-h4--invert">How to get in touch with me:</h2>
        <p> <ul>
          <li>You can send a message through Whatspp on my contact number : 8427319682</li>
          <li>You can Email me at: <a href="mailto:sri1729hari@gmail.com">Email</a></li>
          <li> You can also contact me by sending a message to my Telegram ID: https://t.me/V_Srivastava <a href="https://t.me/V_Srivastava"> Clickable Link </a>
          </ul></p>
      </div>

    </div>
  </div>

</main>
{% endblock %}
