---
permalink: index.html
---

{% extends "layouts/base.njk" %}

{% set activeSection = "home" %}

{% set metaTitle = "Welcome" %}
{% set metaDescription = "The Math Doctor" %}
{% set metaImage = site.url ~ "/img/me-600.jpg" %}

{% block content %}
<main>

  <div class="c-pageintro">
    <div class="l-container">
      <div class="c-pageintro__inner">

        <p class="c-suptitle">Vikas Srivastava</p>
        <h1 class="c-h1  c-h1--invert">The Math Doctor</h1>
        <p class="c-txtintro">Hello, I am Vikas Srivastava. I give personalized one-to-one online coaching to students who are preparing for IIT-JEE and CBSE Board examinations. I have more than five years of experience in teaching mathematics. I teach in both Hindi and English. Contact me for free demo classes and decide yourself. </p>
      </div>
    </div>
  </div>

  <div class="c-banner  c-banner--home"></div>

  <div class="c-pagecontent">
    <div class="l-container  l-services">

    <h2 class="c-smalltitle  l-services__title">Why "The Math Doctor"</h2>
    {% for service in services %}
      {% if loop.first %}<ul class="l-services__grid">{% endif %}
      <li>
        <div class="c-service">
          <p class="c-service__icon">{% include "svg/" ~ service.icon  %}</p>
          <h3 class="c-h5">{{ service.title }}</h3>
          <p class="c-service__text">{{ service.description }}</p>
        </div>
      </li>
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}

    </div>
  </div>

</main>
{% endblock %}
