<footer class="c-sitefooter">

  <div class="c-sitefooter__cta">
    <a class="c-footercta" href="/contact/">Need some information? <span>Contact me for more details about pricing and demo classes.</span></a>
  </div>

  <div class="l-container">

    <div class="c-sitefooter__main" aria-label="footer navigation">
      <nav class="c-sitefooter__nav">
        {% for item in nav %}
          {% if loop.first %}<ul class="c-footernav" id="footernav">{% endif %}
            <li class="c-footernav__item"><a class="c-footernav__link  {{ 'is-active' if activeSection ==  item.navTrigger }}" href="{{ item.navUrl }}">{{ item.navLabel }}</a></li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
      </nav>

      <nav class="c-sitefooter__social" aria-label="social media">
        <ul class="c-socialmedia">
          
        </ul>
      </nav>
    </div>

    <div class="c-sitefooter__copyright">
      <p class="u-margin-all-none">&copy; {{ site.buildTime | date("Y") }}</p>
    </div>

  </div>

</footer>
